<div id="<%= meta_question.id %>">
	<p>
			<b><span class="label label-success"><%= meta_question.type_of %></span>&nbsp;&nbsp;<%= meta_question.order_identifier %>. <%= meta_question.title %></b>
		<br/>
	</p>
	<div class="catalog-list">
		<% if meta_question.meta_answer_options.size > 0 %>
			<div class="options">
				<span>
					<i><%=t 'activerecord.models.meta_answer_options' %></i>
				</span>
				<br/>
				<% meta_question.meta_answer_options.each do |mao| %>
					<span id="<%= mao.id %>"><%= mao.identifier %> - <%= mao.human_value %></span><br/>
				<% end %>
			</div>
		<% end %>
	
		<% if meta_question.meta_answer_items.size > 0 %>
			<div class="items">
				<span>
					<i><%=t 'activerecord.models.meta_answer_items' %></i>
				</span>
				<br/>
				<% meta_question.meta_answer_items.each do |mai| %>
					<span id="<%= mai.id %>"><%= mai.identifier %> - <%= mai.human_value %></span><br/>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
<br/>
