<p>
  <b><%= t('activerecord.attributes.pollster.email') %>:</b>
  <%= @pollster.email %>
</p>

<p>
  <b><%= t('activerecord.attributes.pollster.full_name') %>:</b>
  <%= @pollster.full_name %>
</p>

<p>
  <b><%= t('activerecord.attributes.pollster.uid') %>:</b>
  <%= @pollster.uid %>
</p>

<p>
  <b><%= t('activerecord.attributes.pollster.username') %>:</b>
  <%= @pollster.username %>
</p>

<p>
  <b><%= t('activerecord.attributes.pollster.birthday') %>:</b>
  <%= @pollster.birthday %>
</p>

<p>
  <b><%= t('activerecord.attributes.pollster.phone') %>:</b>
  <% if @pollster.phone.blank? %>
		<%= "---" %>
	<% else %>
		<%= @pollster.phone %>
	<% end %>
</p>

<p>
  <b><%= t('activerecord.attributes.pollster.extension') %>:</b>
  <%= @pollster.extension || "---" %>
</p>

<p>
  <b><%= t('activerecord.attributes.pollster.cell_phone') %>:</b>
  <% if @pollster.cell_phone.blank? %>
		<%= "---" %>
	<% else %>
		<%= @pollster.cell_phone %>
	<% end %>
</p>


<%= link_to t('general.actions.edit'), edit_admin_pollster_path(@pollster) %> |
<%= link_to t('general.actions.back'), admin_pollsters_path %>
