<div class="login-panel">
	<div class="form">
		<h1><%= t('app.sections.access') %></h1>

		<%= form_for(Manager.new, :as => :manager, :url => session_path(:manager)) do |f| %>
		  <div>
				<%= f.email_field :email, :class => 'field', :placeholder => "Correo electrónico" %>
			</div>
		  <div>
				<%= f.password_field :password, :class => 'field', :placeholder => "Contraseña" %>
			</div>
		  <%= f.submit t('manager.views.sessions.new.login_button'), :class => 'boton4' %>
		<% end %>
	</div>
</div>
