<div id="dialog-<%= meta_survey.id %>" class="hidden">
	<h2><%= t('organization.views.index.download.dialog_title') %></h2>
	<p><%= t('organization.views.index.download.dialog_message') %></p>

	<div class="xls">
		<div class="image"></div>
		<p><%= link_to t('organization.views.index.download.formats.xls'), '' %></p>
	</div>

	<div class="csv">
		<div class="image"></div>
		<p><%= link_to t('organization.views.index.download.formats.csv'), '' %></p>
	</div>

</div>