<%= form_for([:admin, @organization]) do |f| %>
  <%= render :partial => 'shared/errors', :locals => {:model => @organization} %>
	
	<br/>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
