<h1>Listing organizations</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= link_to 'Show', admin_organization_path(organization) %></td>
    <td><%= link_to 'Edit', edit_admin_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', admin_organization_path, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization', new_admin_organization_path %>
