<%= form_for([:admin, @meta_survey], :html_options => {:multipart => true}) do |f| %>
  
	<div class="field">
    <%= f.label :organization %>
    <%= f.select :organization_id, Organization.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true } %>
  </div>
	<div class="field">
    <%= f.label :survey_descriptor_file %>
    <%= f.file_field :survey_descriptor_file %>
  </div>

  <%= f.submit t('general.actions.save') %>
<% end %>