<div id="<%= meta_survey.id %>-ms" class="well">
	
	<p><span class="badge badge-info"><%= meta_survey.name %></span></p>

	<table class="table table-striped table-bordered">
	  <tr>
	    <th><%= t('activerecord.attributes.meta_survey.organization') %></th>
	    <th><%= t('activerecord.attributes.meta_survey.campaign') %></th>
	
	    <th><%= t('activerecord.attributes.meta_survey.sample_size') %></th>
	    <th><%= t('activerecord.attributes.meta_survey.questions_number') %></th>
	  </tr>

	  <tr>
		  <td><%= meta_survey.campaign.organization.name %></td>
	    <td><%= meta_survey.campaign.safe_name %></td>
			<td><%= meta_survey.size %></td>
			<td><%= meta_survey.meta_questions.size %></td>
	  </tr>
	</table>
	
	<div class="actions">
		<%= link_to t('administrators.show_questions_loaded'), "##{meta_survey.id}-mq", "data-toggle"=>"modal" %>
		<%= link_to t('administrators.download_plist'), admin_meta_survey_path(meta_survey, :plist) %>
		<a href="<%= admin_meta_survey_path(meta_survey) %>" data-method="delete" data-confirm="<%= t('meta_survey.messages.confirmation.delete') %>" class="btn btn-danger">
			<i class="icon-remove"></i>  <%= t('general.actions.delete') %>
		</a>
		
		<% if meta_survey.surveys.count > 0 %>
			<a href="<%= download_admin_meta_survey_path(meta_survey) %>" class="btn btn-inverse">
				<i class="icon-download"></i>  <%= t('meta_survey.views.index.download') %>
			</a>
			<a href="<%= purge_admin_meta_survey_path(meta_survey) %>" data-method="post" data-confirm="<%= t('meta_survey.messages.confirmation.purge') %>" class="btn btn-warning">
				  <%= t('meta_survey.views.index.purge') %>
			</a>
		<% end %>

	</div>
</div>

<div id="<%= meta_survey.id %>-mq" class="fade modal">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Preguntas cargadas</h3>
	</div>
	<div class="modal-body">
		<%= render :partial => 'admin/meta_questions/listing', 
						 	 :collection => meta_survey.meta_questions.sort! { |f, n| f.order_identifier <=> n.order_identifier }, 
						 	 :as => :meta_question %>
	</div>
	<div class="modal-footer"></div>
</div>