<h2><%= t('meta_survey.views.index.title') %></h2>
<br/>
<% if @meta_surveys.empty? %>
	<p><%= t('meta_survey.views.index.empty') %></p>
<% else %>
	<%= render :partial => 'meta_survey', :collection => @meta_surveys %>
<% end %>

<a href="<%= new_admin_meta_survey_path %>" class="btn btn-primary">
<i class="icon-plus"></i>  <%= t('general.actions.new') %>
</a>
