<!DOCTYPE html>
<html>
<head>
	<title><%= t('app.name') %></title>  
	<%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="headerback">
	<%= render 'layouts/shared/top_menu' %>
</div>
<div id="contentback">
  <div id="content">
    <%= yield %>
  </div>
</div>
<%= render 'layouts/shared/footer' %>

</body>
</html>
