<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />
<title><%= t('app.name') %></title>
<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "application" %>
</head>

<body>
<div id="headerback">
	<%= render 'layouts/shared/top_menu' %>
</div>
<%= yield :banner %>
<div id="contentback">
  <div id="content">
    <%= yield %>
  </div>
</div>
<%= render 'layouts/shared/footer' %>
</body>
</html>
